@import "../../../../styles/colors.scss";
.success{
    background-color: $success;
    color: $light;
    
}
.sncackBar{
    border-radius: 4px;
    font-size: 400;
    padding: 4px;
}
.error{
    background-color: $danger;
    color: $light;
}

.info{
    background-color: $info;
    color: $light;
}